* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffebce
}

/* spacing */

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  border: 3px solid black;
}


th,
td {
  padding: 20px;
}

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: "Times New Roman", cursive;
  font-size: 2em;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

.delete-cell {
    width: fit-content;
    padding: 0;
}

/* graphics and colors */

thead,
tfoot {
  background: url(assets/texture.jpg);
  background-repeat: repeat;
  background-size: 50%;
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 50%));
  border: none;
}

/* zebra striping */

tbody tr {
  background-image: url(assets/noise.png);
}

/* top of the page text */

h1 {
    font-family: "Allura", serif;
    font-weight: normal;
    text-align: center;
    font-size: 8rem;
}

p {
    font-family: "Domine", serif;
    font-size: 1.3rem;
    margin: 2rem auto 2rem auto;
    padding-left: 3rem;
    width: 80%;
}

#add-book {
    font-family: "Domine", serif;
    font-weight: 600;
    width: 200px;
    height: 60px;
    font-size: 18px;
    margin: 0 0 2rem 3rem;
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, hsla(39, 100%, 85%, 1) 0%, hsla(34, 100%, 70%, 1) 100%);
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.2);
    transition: 0.05s;
}

#add-book:hover {    
    background: rgb(255, 241, 224);
}

#add-book:active {
    box-shadow: none;

}


div:first-of-type {
    width: 80%;
    margin: auto;
}