* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Domine", serif;
}

body {
    background-color: #ffebce
}

/* spacing */

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  border: 3px solid black;
}


th,
td {
  padding: 20px;
}

thead th,
tfoot th {
  font-family: "Times New Roman", cursive;
  font-size: 2em;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

.delete-cell {
    width: fit-content;
    padding: 0;
}

/* graphics and colors */

thead,
tfoot {
  background: url(assets/texture.jpg);
  background-repeat: repeat;
  background-size: 50%;
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 50%));
  border: none;
}

/* zebra striping */

tbody tr {
  background-image: url(assets/noise.png);
}

/* book delete button */

.delete-btn {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid red;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

/* top of the page text */

h1 {
    font-family: "Allura", serif;
    font-weight: normal;
    text-align: center;
    font-size: 8rem;
}

p {
    font-family: "Domine", serif;
    font-size: 1.3rem;
    margin: 2rem auto 2rem auto;
    padding-left: 3rem;
    width: 80%;
}

#add-book {
    font-family: "Domine", serif;
    font-weight: 600;
    width: 200px;
    height: 60px;
    font-size: 18px;
    margin: 0 0 2rem 3rem;
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, hsla(39, 100%, 85%, 1) 0%, hsla(34, 100%, 70%, 1) 100%);
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.2);
    transition: 0.05s;
}

#add-book:hover {    
    background: rgb(255, 241, 224);
}

#add-book:active {
    box-shadow: none;

}

.add-button-div {
    width: 80%;
    margin: auto;
}

/* dialog */

dialog {
    width: 500px;
    position: relative;
    margin: auto;
    padding: 20px 30px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
    background-color: rgb(255, 223, 186);
}

.modal-title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    user-select: none;
}

#modal-close-button {
    width: 40px;
    border: 2px solid rgba(255, 0, 0, 0.205);
    border-radius: 10px;
    transition-duration: 0.1s;
}

#modal-close-button:hover {
    background-color: red;
    cursor: pointer;
}

/* add book form */

input,
select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    border: 1px solid rgb(117, 117, 117);
    margin-bottom: 20px;
}