/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 23%;
}

thead th:nth-child(4) {
  width: 5%;
}

thead th:nth-child(5) {
  width: 22%;
}

th,
td {
  padding: 20px;
}

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: "Times New Roman", cursive;
  font-size: 2em;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

/* graphics and colors */

thead,
tfoot {
  background: url(assets/texture.jpg);
  background-repeat: repeat;
  background-size: 50%;
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 50%));
  border: none;
}

/* zebra striping */

tbody tr {
  background-image: url(noise.png);
}
